:root {
    --maincolor: #363636;
    --seccolor: #dd7831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--maincolor);
}

.sidelinkscon {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0.699);
}

.mainsidelinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 9px 1.5px;
}

.xmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}

.fa-xmark {
    color: white;
    font-size: 9vw;
}

.sidelinks {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    font-size: 6vw;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.sidelinks:hover {
    background-color: rgba(99, 99, 99, 0.194);
    border-radius: 5px;
}

.uselinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.ulinks {
    font-size: 8vw;
    color: rgb(196, 196, 196);
}

.navcon {
    width: 100%;
    height: 70px;
    padding: 1vw 2.4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px black;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(25, 25, 25, 0.589);
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
}

.ri-menu-2-line {
    color: white;
    font-size: 35px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.linkscon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 600;
    transition: 250ms ease-in-out;
}

.links:hover {
    color: var(--seccolor);
}

.links::after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--seccolor);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.links:hover:after {
    transform: scaleX(1);
}

.shop::after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--seccolor);
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}

.shop {
    color: #e7e7e7;
}

.shop:hover {
    color: #e7e7e7;
}

@media (max-width:500px) {
    .navcon {
        justify-content: space-between;
    }

    .menu {
        display: flex;

    }

    .linkscon {
        display: none;
    }
}


/* Header Section Complete */


.mainestcontainer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 20px 0 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #000000;
    background: url(assets/output-onlinepngtools.png);
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.context {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-right: 800px;
    padding-left: 35px;
    padding-bottom: 50px;
}

.heading {
    color: white;
}

.heading span {
    color: var(--seccolor);
}

.details {
    color: white;
    font-size: 18px;
}

.details span {
    color: var(--seccolor);
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.content {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    /* height: 100%; */
    /* height: 100%; */
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}

@media (max-width:500px) {

    .maincontainer {
        padding: 25px 0 45px;
    }

    .container1 {
        width: 93%;
        flex-direction: column;
        gap: 60px;
    }

    .context {
        padding: 0 40px 40px 25px;
    }

    .details {
        font-size: 16px;
    }

    .left {
        gap: 60px;
    }

    .right {
        gap: 60px;
    }

    .content{
        width: 100%;
    }

    .content .content-overlay {
        height: 98%;
    }
}


/* Main Section Complete */


.mainfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

.container3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.img3 {
    width: 90px;
    height: 70px;
    border-radius: 50%;
}

.text3 {
    text-align: center;
    color: rgb(196, 196, 196);
    font-size: 17px;
    text-decoration: none;
}

.text4 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .7s;
}

.text4:hover {
    color: var(--seccolor);
}

.text4::after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--seccolor);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.text4:hover:after {
    transform: scaleX(1);
}

.container4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text5 {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.mylogo {
    color: white;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
    background: linear-gradient(to right, #f731cc, rgb(110, 255, 38));
}

@media (max-width:500px) {
    .container3 {
        flex-direction: column;
        gap: 60px;
    }

    .container4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}


/* Footer Section Complete */